/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here:wght@400&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman:wght@400&display=swap");

/* custom styles */

* {
  border-width: 0;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: #ffffff;
}

.gig{
  font-family: Gideon Roman;
}

.underline-animate {
  display: inline-block;
  position: relative;
  color: #ffffff;
  cursor: pointer;
}

.underline-animate:after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 25%;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animate:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
